<h1>RULES</h1>

<p>6.0 Player has the full range of throws to play, as follows:

Rock: wins against scissors, loses to paper and stalemates against itself

Paper wins against Rock, loses to scissors and stalemates against itself

Scissors wins against paper, loses to rock and stalemates against itself</p>
