<h1>RULES</h1>

<p>Player has the full range of throws to play, as follows:

Rock:<br> wins against scissors, loses to paper and stalemates against itself<br>

Paper wins against Rock, loses to scissors and stalemates against itself<br>

Scissors wins against paper, loses to rock and stalemates against itself</p>
