body {
  color : white;
  background-color: lightblue;
  font-size : 15px
  font-family: "Arial", Times, serif;
}

title {
  color : black;
  font-size : 25px
  font-family: "Arial Black", Gadget, sans-serif;
}
